.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }

    .navbar-brand
    {
        position: absolute;
        width: 10%;
        left: 0;
        text-align: center;
        margin: auto;
        height: 100%;
        background-color: #0f0e30;
    }

    #navLeft
    {
        position: absolute;
        width: 50%;
        height: 100%;
        left: 8%;
        text-align: center;
        margin: auto;
        background-color: #4be87f;
        font-size: 18px;
    }

    #navRigth
    {
        position: absolute;
        width: 100%;
        left: 58%;
        text-align: center;
        font-size: 18px;
        margin: auto;
        height: 100%;
        background-color: #dcdcdc;
    }

    #tr
    {
        text-align:center;
        height:50px;
        background-color: #00b3ee;
    }

    #tr1
    {
        text-align:center;
        height:50px;
    }

    #d_tr
    {
        text-align:center;
        height:50px;
        background-color: #00b3ee;
    }

    #d_tr1
    {
        text-align:center;
        height:50px;
    }

    #body
    {
        background-image: url(http://www.pptbackgrounds.net/uploads/grass-blue-bright-sky-and-a-dandelion-backgrounds-wallpapers.jpg);
        background-size: cover;
    }

    #thumbs
    {
        font-size: 26px;
        color: black;
    }

    #amount_main
    {
        color: black;
    }
    .btn-primary
    {
        width: 150px;
        height: 70px;
        color: white;
        font-size: 18px;
    }

    .form-group
    {
        font-size: 18px;
    }

    #not-user
    {
        font-size: 24px;
        color: black;
    }

    #loginForm1
    {
        font-size: 18px;
    }
    #proDetails1
    {
        font-size: 18px;
    }

    #proDetails2
    {
        font-size: 18px;
    }

    #proDetails
    {
        font-size: 18px;
    }

    #editPro
    {
        width: 90px;
        height: 40px;
    }

    #signup_link
    {
        font-size: 20px;
        color: darkblue;
    }
}
