<div class="view" >
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-lock"></span> Login</h3>
        </header>
        <form name="loginForm" novalidate>
            <div id="loginForm1">
                <div class="login">
                    <div class="row">
                        <div class="col-md-2">
                            <b> Email: </b>
                        </div>
                        <div class="col-md-7">
                            <input type="email" name="email" class="form-control" data-ng-model="loginInfo.email" placeholder="Email" required />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-2">
                            <b> Password: </b>
                        </div>
                        <div class="col-md-7">
                            <input type="password" name="password" placeholder="Password" class="form-control" data-ng-model="loginInfo.password" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary" ng-click="loginUser()"> Login </button>
                        </div>
                    </div>

                    <div>
                        <br>
                        <h3 id="not-user">Don't have an account? <a id="signup_link" href="#/signup">Sign up!</a></h3>
                    </div>
                </div>
                <br />
                <div class="statusRow">
                    <br />
                </div>
            </div>
        </form>
    </div>
</div>
