<div class="row" ng-init="init()  ">
  <h2 align="left">Amount of valid projects: <small> {{amount}} </small></h2><br>
  <div class="col-lg-5" ng-repeat="pro in projects">
    <div class="thumbnail">
      <a href = "#/projectPage?projectName={{pro.project_name}}">

        <img ng-src="{{pro.images[0]}}" style="width:180px;height:200px">
      </a>
      <br><h4>Project Name: {{pro.project_name}}</h4>
      <p>Money Target: {{pro.goal}} </p>
    </div>
  </div>
</div>
<div class="col-md-5">
  <br><button class="btn-primary" onclick="location.href='#/myProject';"> Add your own project </button>
</div>