<div class="row" ng-init="init()">
    <div class="col-lg-5">

        <h2>Project Name: <small class="text-primary">{{project.projectName}}</small></h2>
        </br>

        <canvas id="pie" class="chart chart-pie" width="200" height="200" chart-legend=true chart-data="data" chart-labels="labels">
        </canvas>

    </div>
</div>
<div class="col-lg-12">
    <br>

    <div>
        <pre><b> Project Description: </b><br><br> {{project.desc}} </pre>
    </div>

    <br>
    <b> Money Raced: </b> {{project.donated}} &#8362; </br>
    <b> Money left: </b> {{project.moneyLeft}} &#8362; <b> &nbsp &nbsp Percent: </b> {{(project.donated*100)/project.goal}} %</br>
    <b> Target goal: </b> {{project.goal}} &#8362;</br>
    </br>

    <td><button><a href="#/editProject?projectName={{pro.project_name}}"> Edit </a></button> </td>
</div>