<div class="row" ng-init="init()">
    <div class="col-lg-5">

        <h2>Project Name: <small class="text-primary">{{project.projectName}}</small></h2>
        </br>

        <canvas id="pie" class="chart chart-pie" width="200" height="200" chart-legend=true chart-data="data" chart-labels="labels">
        </canvas>

    </div>
</div>
<div class="col-lg-12">

    <br>
    <pre id="proDetails2"><b><h3> Project Summary: </h3></b><br> {{project.summary}} </pre>
    <br>

    <br>
        <pre id="proDetails1"><b><h3> Project Description: </h3></b><br> {{project.desc}} </pre>
    <br>

    <div id="proDetails">
        <b> Money Raced: </b> {{project.donated}} &#8362; </br>
        <b> Money left: </b> {{project.moneyLeft}} &#8362; <b> &nbsp &nbsp &nbsp Percent: </b> {{(project.donated*100)/project.goal}} %</br>
        <b> Target goal: </b> {{project.goal}} &#8362;</br><br>

        <b> End date: </b> {{project.endDate}} </br><br>
    </div>
    </br>

    <td>
        <button id="editPro">
            <a href="#/editProject?projectName={{project.projectName}}"> Edit </a>
        </button>
    </td>
</div>